.postsContainer {
  list-style: none;
}

.infoContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.img {
  object-fit: cover;
  border-radius: 50%;
}

.leftContainer > p > span {
  color: rgb(201, 201, 201);
  font-size: 0.8rem;
}

.rightContainer button {
  background-color: transparent;
}

.deleteIcon {
  color: var(--btn-color);
}