.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.gridCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 0.4rem;
  padding: 2rem;
}

@media (max-width: 768px) {
  .gridCardContainer {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}

@media (max-width: 1200px) {
  .mainContainer {
    padding: 2rem;
  }
}